html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.calculator {
  height: 400px;
  width: 600px;
  border: black solid 1px;
  display: grid;
  /* grid-template-columns: 1fr; */
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
  padding: 5px;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

.lastrow {
  grid-template-columns: 2fr 1fr 1fr;
}

.display {
  font-size: 3.5em;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

.row button {
  border-radius: 3em;
  border: none;
}
.basicOperator {
  background-color: gold;
}
